<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Avenir+LT+Std:wght@400;700&display=swap" rel="stylesheet">
</head>

<ion-content>
    <div class="outer-container">
        <div class="container">
            <img src="/assets/welcome/OinkGift.svg" alt="Oink gift">
            <h1> ¡Bienvenido a Coink! </h1>
            <p> ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!. </p>
            <ion-button class="register-button" (click)="continue()"> CONTINUAR </ion-button>
          </div>    
    </div>
  </ion-content>