  .register-button {
    height: 50px;
    width: 100%; 
    margin-bottom: 16px; 
    --background: #1EEA00;
    --color: #004B40;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .underHeader{
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    height: 20vh;
    margin: 24px;
  }
  
  .underHeader p{
    font-size: 16px;
    color: #757575;
    font-family: 'Avenir LT Std', sans-serif;
  }

  .underHeader h2{
    font-size: 16px;
    color: #004B40;
    font-family: 'Montserrat', sans-serif;
  }

  .underHeader span{
    margin-left: 5px;
  }

  .text-content {
    text-align: left;
    height: 18vh;
    margin: 24px; 
    max-width: 100%;
  }
  
  .green-line {
    background-color: #1EEA00;
    height: 2px; 
    margin-left: 23.5px;
    margin-right: 23.5px;
    margin-top: 30px;
  }
  
  .custom-button{
    --background: #D3D3D3;
    color: white;
    border-radius: 50%;
  }
  
  .custom-button.complete {
    --background: #1EEA00;
  }
  
  .custom-button ion-icon {
    color: white;
  }

  .custom-container {
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .custom-container h2{
    font-size: 16px;
    color: #004B40;
    font-family: 'Montserrat', sans-serif;
  }

  .custom-container p{
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 14px;
  }

  .custom-container a{
    font-size: 16px;
    color: #004B40;
    font-weight: 700;
  }

  .custom-checkbox {
    --background: #1EEA00; 
    --checkmark-color: #1EEA00;
    --border-color: #1EEA00; 
  }

  .custom-checkbox.checked {
    --background: #28a745 !important;
    --checkmark-color: #ffffff !important;
  }

  .register-button{
    --background: #D3D3D3;
  }

  .register-button.complete{
    --background: #1EEA00;
  }

  ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ion-content {
    --background: #FFFFFF;
  }
  
  ion-header {
    background: #FFFFFF;
  }
  
  ion-toolbar {
    --background: #FFFFFF;
  }