
.number-button {
  --background: transparent;
  --color: #004B40;
  --border-width: 0;
  --box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  display: inline-block;
}

.number {
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.underHeader{
  display: flex; 
  justify-content: center; 
  align-items: flex-end; 
  height: 20vh;
  margin: 24px;
}

.underHeader p{
  font-size: 16px;
  margin-left: 23.5px;
  color: #757575;
  font-family: 'Avenir LT Std', sans-serif;
}

.green-line {
  background-color: #1EEA00;
  height: 2px; 
  margin-left: 23.5px;
  margin-right: 23.5px;
}

.custom-button{
  --background: #D3D3D3;
  color: white;
  border-radius: 50%;
}

.custom-button.complete {
  --background: #1EEA00;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: #FFFFFF;
}

ion-header {
  background: #FFFFFF;
}

ion-toolbar {
  --background: #FFFFFF;
}
