.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.button-container {
  margin-left: 23.5px;
  margin-right: 23.5px;
}

.register-button {
  height: 50px;
  width: 100%; 
  margin-bottom: 16px;
  --background: #1EEA00;
  --color: #004B40;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.login-button {
  height: 50px;
  width: 100%; 
  margin-bottom: 16px;
  --background: #004B40;
  --color: #FFFFFF;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

ion-content {
  --background: var(--background-color);
}
