<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<ion-content id="content">
  <div id="intro" class="image-container">
    <img src="assets/homeImg/coinkhomeimg.svg" alt="Coink Home">
  </div>
  <div id="main-content" class="hidden">
    <!-- Primera sección con imagen centrada -->
    <div style="display: flex; justify-content: center; align-items: flex-end; height: 45vh;">
      <img src="assets/homeImg/coinkhomeimg.svg" alt="Centered Image">
    </div>

    <!-- Segunda sección con texto centrado en la parte superior -->
    <div style="display: flex; justify-content: center; align-items: center; height: 20vh;">
      <h1 style="text-align: center; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 18px; color: #1EEA00; line-height: 24px;"> LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA </h1>
    </div>

    <!-- Tercera sección con dos botones centrados uno debajo del otro -->
    <div class="button-container" style="display: flex; justify-content: center; align-items: center; height: 35vh; flex-direction: column;">

      <div style="width: 100%;">
        <ion-button id="registerButton" shape="round" expand="block" class="register-button"  (click)="register()"> REGÍSTRATE </ion-button>
        <ion-button id="registerButton" shape="round" expand="block" class="login-button"  (click)="login()"> INGRESA </ion-button>
      </div>

    </div>
  </div>
</ion-content>
