.register-button {
  height: 50px;
  width: 100%; 
  margin-bottom: 16px; 
  --background: #1EEA00;
  --color: #004B40;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.underHeader{
  display: flex; 
  justify-content: center; 
  align-items: flex-end; 
  height: 20vh;
  margin: 24px;
}

.underHeader p{
  font-size: 16px;
  color: #757575;
  font-family: 'Avenir LT Std', sans-serif;
}

.underHeader h2{
  font-size: 16px;
  color: #004B40;
  font-family: 'Montserrat', sans-serif;
}

.text-content {
  text-align: left;
  height: 10vh;
  margin: 24px; 
  max-width: 100%; 
}

.green-line {
  background-color: #1EEA00;
  height: 2px; 
  margin-left: 23.5px;
  margin-right: 23.5px;
}

.custom-button.complete {
  --background: #1EEA00;
}

.custom-container {
  margin-left: 24px;
  margin-right: 24px;
}

.form-box {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  font-family: 'Avenir LT Std', sans-serif;
}

.form-titles{
  font-family: 'Montserrat', sans-serif;
  color: #004B40;
  font-size: 16px;
}

.register-button{
  --background: #D3D3D3;
}

.register-button.complete{
  --background: #1EEA00;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: #FFFFFF;
}

ion-header {
  background: #FFFFFF;
}

ion-toolbar {
  --background: #FFFFFF;
}